*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: lightgray;
    padding: 0px;
}
h1{
    color: darkgreen;
    font-size: 30pt;
}
.sitetodo{
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}

.Título {
    display: flex;
    padding: 20px;
    text-align: center;
    border: solid 5px navy;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.flex-container{
    display: flex;
    background-color:lightskyblue;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.Menu{
    display: flex;
    list-style:none;
    width: 60%;
    justify-content: space-evenly;
    padding: 0px;

}
.Menu > li{
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}
.titulos{
    display: flex;
    justify-content: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}
.textoC{
    display: flex;
    flex-direction: column;
}
.textoC > p{
    color:indigo ;
    font-family: sans-serif;
    font-size: 20pt;
    padding: 12px 0px 12px 0px;  
    text-align: center;
}
.capas-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0px 50px 0px;  
}
.capas{
    display: flex;
    justify-content: space-around;
    width: 60%;
    
}
.iframes-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 50px 0px;
}
.iframes{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
iframe{
    width: 350px;
    height: 350px;
}
.tabela-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 50px 0px;
}
table {
    width: 30%;
    border-style:dashed;
    border-color: red;
}
th, td {
    border: 1px solid red;
    padding: 3px;
    text-align: center;
}
.nome{
    color: red;
    text-align: center;
}
.sites-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sites{
    flex-direction: column;
    background-color: yellow;
    padding: 20px 20px 20px 40px ;
    width: 35%;
}
.sites > p{
    padding-bottom:10px ;
}
.footer{
    border:none;
    margin-top:20px;
}
.footer > p{
    font-family:"Comic Sans MS";
    font-size: 15pt;
    font-weight: bold;
}