<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Resultado da Média</h1>
        <p>A média do aluno <strong><%= nome %></strong> é <strong><%= media %></strong>.</p>
        <br>
        <a href="/lista">Voltar</a>
    </div>
</body>
</html>