body{
    background-color: antiquewhite;
}

.Título{
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
a:hover{
    color:rgb(26, 192, 225)
}
.Menu{
    display: flex;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    margin: 0px 40px ;
} 
.Link{
    display: flex;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(117, 13, 161);
}

.linkprojeto{
    display: flex;
    font-size: 20px;
    color: rgb(247, 4, 4);
    margin-left: 5px;
}
