body {
    background-color: #B3B3F1;
    padding: 0px;
}
.site_todo {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}
.Titulo-container{
    display: flex;
    padding: 20px;
    text-align: center;
    border: solid 5px navy;
    background-color: #d4cdf4;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Titulo-container > p {
    color: #8a4362;
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
}
.menu-container{
    display: flex;
    background-color: #DCB6D5;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}
.menu > li {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}
a:link{
    color: #bf2841;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: #d02441;
}
a:hover{
    color: rgb(155, 39, 155);
    background-color: transparent;
    text-decoration:none ;
  }

a:active{
    color: rgb(165, 77, 15);
}
.Texto_apresentacao > p{
    font-family: arial;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 0px 50px 20px 50px;
}
h1 {
    color:rgb(200, 234, 255);
    display: flex;
    justify-content: center;
}
.links_patente{
    margin-left: 50px;
}
.links_patente > li{
    font-size: 20px;
    font-family: arial;
    margin-top: 20px;
    color: rgb(130, 240, 240);
}