body {
    background-color: #D1E9E4;
    padding: 0px;
}
.site_todo {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}
.Titulo-container{
    display: flex;
    padding: 20px;
    text-align: center;
    border: solid 5px #406E8E;
    background-color: #8EA8C3;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Titulo-container > p {
    color: navy;
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
}
.menu-container{
    display: flex;
    background-color: rgb(148, 187, 211);
    justify-content: center;
    align-items: center;
    height: 50px;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}
.menu > li {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}
a:link{
    color: #772ce8;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: #772ce8;
}
a:hover{
    color: rgb(190, 56, 190); 
    background-color: transparent;
    text-decoration:none ;
  }

a:active{
    color: rgb(165, 77, 15);
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(49, 49, 214);
}