*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#f4f4f4;
}
.site-todo{
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}
.Menu-container{
    display:flex;
    width: 100%;
    font-family: Arial;
    justify-content: center;
    margin-bottom: 80px ;
}
.Menu{
    display: flex;
    list-style: none;
    width: 60%;
    margin: 0%;
    padding: 20px 0px 20px 0px;
    justify-content: space-evenly;
}
.titulos{
    display:flex;
    font-family: ARIAL;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.Loja{
    display:flex;
    width: 80%;
    margin-left: 125px;
}
.corpreta{
    color: black;
}
.texto-loja{
    display: flex;
    width: 36%;
    font-size: 35px;
}
.imagens-container{
    display: flex;
    gap: 25px;
    margin: 70px 0px 80px 120px;
    flex-wrap: wrap;
}
.imagem{
    text-align: center;
}
.imagem > p{
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-weight: bold;
}
.Novidades{
    display: flex;
    margin: 10px 0px 30px 125px;
}
.Ajuda{
    display: flex;
    margin: 10px 0px 20px 125px;
}
.tabelas-container{
    display: flex;
    width: 50%;
    gap: 20px;
    margin:0px 0px 50px 125px;
}
.tabela-macbook{ 
    width: 250px;
    height: 350px;
    border-radius: 12px;
    border: 1px solid;
    border-color: white;
    background-color: white;
    box-shadow: 3px 5px 10px #cbc8c8;
    padding: 30px;
}
.texto5{
    font-weight: 100px;
    font-family: arial;
    font-size: 9px;
    height: 30px;
}
.texto6{
    display: flex;
    width: 80%;
    font-weight: bold;
    font-family: arial;
    font-size: 20px;
    margin-bottom: 15px;
}
.texto7{
    font-family: Arial;
    font-size:14px ;
    height: 10px;
}
.tabela-macbook > #imga{
    display: flex;
    margin-top: 60px;
}
.tabela-iphone{ 
    width: 250px;
    height: 350px;
    border-radius: 12px;
    border: 1px solid;
    border-color: white;
    background-color: black;
    box-shadow: 3px 5px 10px #cbc8c8;
    padding: 30px;
    color: white;
}
.texto8{
    font-weight: 100px;
    font-family: arial;
    font-size: 9px;
    height: 30px;
}
.texto9{
    font-weight: bold;
    font-family: arial;
    font-size: 20px;
    height: 35px;
}
.texto10{
    font-family: Arial;
    font-size:14px ;
    height: 10px;
}
.tabela-iphone > #imgb{
    display: flex;
    margin-top: 100px;
}
.tabela-especialista{ 
    width: 290px;
    height: 300px;
    border-radius: 12px;
    border: 1px solid;
    border-color: white;
    background-color: white;
    box-shadow: 3px 5px 10px #cbc8c8;
    color: black;
    padding: 30px;
    margin-left: 125px;
}
#imgc{
    display: flex;
    justify-content: center;
    margin-top: 5.2px;
}

.texto11{
    font-weight: 100px;
    font-family: arial;
    font-size: 9px;
    height: 30px;
}
.texto12{
    font-weight: bold;
    font-family: arial;
    font-size: 20px;
}
.Apple{
    display: flex;
    margin: 40px 0px 20px 125px;
}
.Quadros-container {
    display: flex;
    gap: 20px; 
    font-weight: bold;
    font-family: Arial;
    font-size: 17px;
    margin: 0px 0px 30px 125px;
    height: 200px;
  }
  .quadro1 {
    padding: 20px;
    height: 150px;
    width: 190px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .quadro2{
    padding: 20px;
    height: 150px;
    width: 190px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
  }
  .quadro3{
    padding: 20px;
    height: 150px;
    width: 190px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
  }
.corazul{
    color: #068dee;
}
.quadro3 > p{
    margin-top: 35px;
}
.final{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 9px;
    font-family: arial;
    font-weight: bold;
  }
.quadro-final{
    width: 50%;
}
.gray-line{
    color: rgb(158, 148, 148);
    height: 5px;
    background-color: #e6dddd;
    border-radius: 8px;
    border: none;
}
.quadro-final > p{
    margin-top: 5px;
}
.texto {
    width:20%;
    float:right;
    text-align: right;
}
.Brasil{
    float: right;
    text-align: right;
}