<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Resposta:</h2>
    <h2>Aluno <%= nome %> não encontrado.</h2>
    <a href="/lista">Voltar</a>
</body>
</html>