body{
    background-color: lightgreen;
}
site-todo{
    padding: 0.5;
}
.titulo{
    font-family: arial;
}
.posicao{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.lembrar{
    display: flex;
    justify-content: center;
}
.tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.forms{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
label{
    margin-right: 5px;
}
.botao{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}